@import 'variables';

* {
    box-sizing: border-box;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: $font;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 940px;
    min-width: 230px;
    height: 100%;
}