//Fonts
@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');
$font: 'TT Norms Pro', sans-serif;

//Colors
$color-primary: #FFA451;

$color-dark-text: #27214D;
$color-light-text: #5D577E;

$color-input-bg-authentication: #F7F5F5;
$color-input-bg-homescreen: #F5F5F5;
$color-input-text: #C2BDBD;
$color-button-text: #FFFFFF;

$color-tags: #333333;
